/**
*
* Footer
*
**/

.footer-main {
  z-index: 100;
  text-align: center;
  .region-footer {
    float: left;
  }
  .region-footer.container {
    padding: 0 0 2rem 0;
    width: 100%;
    background: $natbg;
  }
}
