/**
*
* Layout
*
**/

.contain {
  @include clearfix;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint(md) {
    width: 970px;
    padding: 0;
  }

  @include breakpoint(lg) {
    width: 1170px;
  }
}

.content {
  padding: 2rem 1rem 0 1rem;
  min-height: 750px;
  @include breakpoint(md) {
    padding: 5rem 0 2rem 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .3s;
  }
}

.region-content-top {
  padding-bottom: 2rem;
}

.region-content {
  padding-bottom: 2rem;
}

.region-content-bottom {
  padding: 3rem 0;
}
