 // Forms
 //
// Form Elements Styles
//
// Styleguide 4.0
//
// markup:
// <div class="form-item"><input type="text" name="" value="" placeholder="text"></div>
// <div class="form-item"><input type="text" name="" value="" placeholder="text"></div>
// <div class="form-item"><textarea rows="4" cols="50"></textarea></div>
// <input type="submit" name="" value="Submit">

@use "utils/variables";
@use "utils/mixins";

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  background: none;
  border: 1px solid variables.$grey-300;
  background-color: variables.$white;
  width: 100%;
  padding: 1rem;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  transition: border 0.3s;
  @include mixins.font-size(14px);
  color: variables.$natdark;
  font-family: variables.$fontDefault;
  font-weight: variables.$thin;
}

input[type="submit"], a.button {
  display: block;
  border: none;
  background-color: variables.$natalt;
  width: 100%;
  padding: 1rem;
  margin: 0 0 1rem;
  cursor: pointer;
  color: variables.$white;
  transition: all 0.3s;
  &:hover {
    font-weight: bold;
    width: 100%;
    margin: 0 0 1rem;
    cursor: pointer;
    @include mixins.font-size(14px);
    transition: all 0.3s;
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: variables.$natalt;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

select {
  background: transparent;
  width: 100%;
  padding: 1rem;
  border: 1px solid variables.$grey-300;
  border-radius: 0;
  background-color: variables.$white;
  background: url(../icons/chevron-down.svg) no-repeat 99% 50%;
  color: variables.$natalt;
  box-shadow: none;
  border-radius: none;
  transition: border 0.3s;
  appearance: none;
  -webkit-appearance: none;
}

// Form item wrappers

.form-item {
  margin: 0 0 1rem;
}
