// Links
//
// Styleguide 3.0
//
// markup:
// <a href="#">Sample Link</a>

@use "utils/variables";
@use "sass:color";

a {
  color: variables.$red;
  transition: .5s;
  text-decoration: none;
  &:hover {
    color: color.adjust(variables.$red, $lightness: -20%);
  }
  &:visited {
    text-decoration: none;
    outline: 0;
  }
}
