/**
*
* Global
*
**/

html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: $blue;
  color: $white;
}

.region-content-top {
  background-color: $natbg;
}

.header-main {
  background-color: rgba(155, 213, 155, 0.9);
}
