/**
*
* Global
*
**/
@use "utils/functions";
@use "utils/variables";

html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: variables.$natalt;
  color: variables.$natlight;
}

.region-content-top {
  background-color: variables.$natbg;
}

.header-main {
  background-color: rgba(155, 213, 155, 0.9);
}

.node__content input[type="submit"] {
  background-color: variables.$natalt;
  &:hover {
    background-color: variables.$nataccent;
    font-weight: bold;
  }
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
  border-color: variables.$nataccent;
}
