{#
/**
 * @file
 * Default theme implementation to display for an empty shopping cart page.
 *
 * @ingroup themeable
#}
<div class="container">
  <div class="contain">
    <p class="uc-cart-empty">
      {% trans %}
        There are no products in your shopping cart.
      {% endtrans %}
    </p>
  </div>
</div>
