// Front Cover

.cover {
  .cover-title {
    text-align: center;
    margin: 40% 0 0 0;
    .no-touchevents & {
      @include breakpoint(md) {
        position: fixed;
        top: 40%;
        left: 50%;
        width: 100%;
        transform: translate(-51%, 0);
        margin: 0;
      }
    }
  }
  .arrow {
    margin: -14px 0 -11px -4px;
    width: 32px;
    height: 32px;
    fill: $grey-100;
    display: inline-block;
    animation: pulsate 2s linear infinite;
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  &.btn-xl {
    padding: 15px 30px;
  }
}

.block-color .btn-default {
  & {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
  }
  &:hover, &:focus, &.focus, &:active, &.active {
    border-color: #ddd;
    color: #222;
    background-color: #e2e2e2;
  }
}

.contact-block-section {
  padding: 2em 0;
  background-color: $natlight;
}

#block-7karaheroimage {
  background-size: cover;
  background-position: center;
}

.hero-block {
  font-size: 18px;
  line-height: 1.5;

  strong {
    display: block;
    color: rgba(255,255,255,.7);
    margin-bottom: 3em;
    background-color: rgba(73,69,66,0.6);
    padding: 0.5em;
  }
}

body {
    webkit-tap-highlight-color: #222;
}

.kara-title {
    max-width:100%;
    width:auto\9;
    margin: 0 auto;
}
.kara-title-content {
    position: relative;
}
.kara-title .kara-logo {
    position: absolute;
    height: 40%;
    top: 40%;
    left: 37%;
    
    /* background-color: rgba(240,255,240,0.6); */
    /* background-color: rgba(255, 255, 255,0.7); 
    padding: 1em; */
}
.kara-title .title-ribbon {
  width: 100%;
}
#block-7karaheroimage h1, header p strong {
  background-color: rgba(73,69,66,0.6);
}
.nattosoup-logo {
  height: 60px;
  float: left;
  margin: -5px 5px;
}
.baker-and-taylor-logo {
  height: 30px;
  margin: -3px 3px 3px 0;
}
.amazon-logo {
  height: 23px;
  margin: 0 0 -6px 2px;
}
.nattosoup-logo-buy {
  height: 55px;
  margin: -15px 5px;
}
.purchase-kara .col {
  margin-top: 1em;
  & .btn {
    width: 100%;
  }
}
@include breakpoint(md) .purchase-kara .btn {
  width: auto;
}
#block-aboutbeccahillburn, #block-aboutbeccahillburn-2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
  margin: -50px auto;
  & .fa-comment {
    color: rgba(73,69,66,0.8);
    font-size: 340px;
    margin-top: -230px;
  }
  & h1 {
    color: #9bd59b;
  }
  & .bigtext-line0, & .bigtext-line1, & .bigtext-line2, & .bigtext-line4 {
    line-height: 70%;
  }
  & .bigtext-line0, & .bigtext-line1 {
    &, span {
     font-family: $header-font;
    }
  }
  & .bigtext-line2, & .bigtext-line3, & .bigtext-line4 {
    display: block;
  }
}
.contact-slogan {
  & .bigtext-line0, & .bigtext-line1, & .bigtext-line2 {
    font-family: Merriweather,"helvetica neue",Arial,sans-serif;
    line-height: 1.2;
  }
}
@media(max-width:767px) {
  .kara-title .title-ribbon {
    width: 120%;
    margin-left: -10%;
  }
  #block-aboutbeccahillburn, #block-aboutbeccahillburn-2 {
    & .container {
      padding-top: 30%;
      margin-bottom: -10%;
    }
    & span, & h1 {
      background-color: rgba(73,69,66,0.6);
    }
    & .tweet-bubble {
      display: none;
    }
  }
  .block-color h2 span {
    margin: 0 -50%;
  }
}
.block-color h1, .block-color h2, .block-color h3, .block-color p {
  color: rgb(63,59,56);
}
footer .inject-svg {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 1em;
    width: 1em;
    display: block;
    margin: 0 auto;
}
/* social media scaling icons */
footer .fa {
  margin-top: 0.5em;
  font-size: 42px;
  color: #DB3B04;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
footer .fa:hover {
  color: #fff;
}

@media only screen and (min-width : 992px) {
  footer .fa {
    font-size: 56px;
  }
}
.book-bottom-animation {
  width: 100%;
  height: 58px;
  margin-bottom: -58px;
}
#beccaHillburnTweet .user, #beccaHillburnTweet .timePosted, #beccaHillburnTweet .interact {
  display: none;
}
.tweet-bubble {
  position: relative;
}
.tweet-bubble #beccaHillburnTweet {
  & {
    position: absolute;
    top:0;
    left: 0;
    width: 80%;
    margin-top: -140px;
    margin-left: 34px;
    height: 160px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
  }
  &:before {
    content: '';
    display: inline-block;
    /*height:100%; COMEHERE */
    vertical-align: middle;
  }
  & p.tweet {
    vertical-align: middle;
    display: inline-block;
  }
}

#block-buykara, #block-buykara-2 {
  & p {
    text-align: justify;
    text-justify: inter-word;
  }
#block-buykara, #block-buykara-2, footer {
  & h2, & span {
    font-family: $header-font;
  }
}
.between {
  margin-top: -10px;
  margin-bottom: -10px;
}
.tiny {
  margin-top: -10px;
  margin-bottom: -10px;
}
.vertical-rule-left {
  border-left: 1px solid rgb(73,69,66);
}

/* Handle rules between words */
.rule {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.rule > strong, .rule > b {
    position: relative;
    display: inline-block;
}

.rule > b:before,
.rule > b:after,
.rule > strong:before,
.rule > strong:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #DB3B04;
}

.rule > b:before, .rule > strong:before {
    right: 100%;
    margin-right: 15px;
}

.rule > b:after, .rule > strong:after {
    left: 100%;
    margin-left: 15px;
}
@media(max-width:560px) {
  .rule .extra-space {
  }
}

#block-7karaheroimage p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
}

.hero-block-fixed {
  width: 100%;
  height: 100vh;
  border-radius: 4px;
  box-shadow: 5px 1px 0px 1px #f04e29;
  background-size: cover;
  animation: blurIn 1.5s;
  display: flex;
  .no-touchevents & {
    @include breakpoint(md) {
      background-attachment: fixed;
    }
  }
}

.hero-block hr {
    max-width: 50px;
    border-color: #9bd59b;
    border-width: 3px;
}
.block-color hr {
    max-width: 50px;
    border-color: #DB3B04;
    border-width: 3px;
}

.text-center {
    &, & .fa, & h2 {
        text-align: center;
    }
}

.portfolio-box {
    display: block;
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(71,125,71,0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
.portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}
#block-projects-front .col-lg-4.col-sm-6:hover .portfolio-box-caption {
    opacity: 1;
}

.hero-block {
    font-size: 18px;
    line-height: 1.5;
}
.hero-block strong {
    display: block;
    color: rgba(255,255,255,.7);
    margin-bottom: 3em;
}

body {
    webkit-tap-highlight-color: #222;
}

.kara-title {
    max-width:100%;
    width:auto\9;
    margin: 0 auto;
}
.kara-title-content {
    position: relative;
}
.kara-title .kara-logo {
    position: absolute;
    height: 40%;
    top: 40%;
    left: 37%;
    
    /* background-color: rgba(240,255,240,0.6); */
    /* background-color: rgba(255, 255, 255,0.7); 
    padding: 1em; */
}
.kara-title .title-ribbon {
  width: 100%;
}
#block-7karaheroimage h1, #block-7karaheroimage p strong {
  background-color: rgba(73,69,66,0.6);
}
.nattosoup-logo {
  height: 60px;
  float: left;
  margin: -5px 5px;
}
.baker-and-taylor-logo {
  height: 30px;
  margin: -3px 3px 3px 0;
}
.amazon-logo {
  height: 23px;
  margin: 0 0 -6px 2px;
}
.nattosoup-logo-buy {
  height: 55px;
  margin: -15px 5px;
}
.purchase-kara .col {
  margin-top: 1em;
}
#beccahillburn {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    margin: -50px auto;
}
.becca-intro {
    position: relative;
    z-index: 5;
}
@media(max-width:767px) {
  .kara-title .title-ribbon {
    width: 120%;
    margin-left: -10%;
  }
  #beccahillburn .container {
    padding-top: 30%;
    margin-bottom: -10%;
  }
  #beccahillburn span, #beccahillburn h1 {
    background-color: rgba(73,69,66,0.6);
  }
  .bg-primary h2 span {
    margin: 0 -50%;
  }
  #beccahillburn .tweet-bubble {
    display: none;
  }
}
.bg-primary h1, .bg-primary h2, .bg-primary h3, .bg-primary p {
  color: rgb(63,59,56);
}
.bg-primary hr {
  border-color: #DB3B04;
}
.social-icons {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 1em;
    width: 1em;
    display: block;
    margin: 0 auto;
}
.goodreads {
    background-image: url(../img/social/goodreads.svg);
}
.amazon {
    background-image: url(../img/social/amazon.svg);
}
.blogger {
    background-image: url(../img/social/blogger.svg);
}
/* social media scaling icons */
#contact .fa {
  margin-top: 0.5em;
  font-size: 42px;
  color: #DB3B04;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
#contact .fa:hover {
  color: #fff;
}

@media only screen and (min-width : 992px) {
  #contact .fa {
    font-size: 56px;
  }
}
.book-bottom-animation {
  width: 100%;
  height: 58px;
  margin-bottom: -58px;
}
#beccaHillburnTweet .user, #beccaHillburnTweet .timePosted, #beccaHillburnTweet .interact {
  display: none;
}
#beccahillburn .fa-comment {
  color: rgba(73,69,66,0.8);
}
#beccahillburn .fa-comment {
  font-size: 340px;
  margin-top: -230px;
}
#beccahillburn h1 {
  color: #9bd59b;
}
#beccahillburn .bigtext-line0, #beccahillburn .bigtext-line1, #beccahillburn .bigtext-line2, #beccahillburn .bigtext-line4 {
  line-height: 70%;
}
.tweet-bubble {
  position: relative;
}
.tweet-bubble #beccaHillburnTweet {
  position: absolute;
  top:0;
  left: 0;
  width: 80%;
  margin-top: -140px;
  margin-left: 34px;
  height: 160px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.tweet-bubble #beccaHillburnTweet:before {
  content: '';
  display: inline-block;
  /*height:100%; COMEHERE */
  vertical-align: middle;
}
.tweet-bubble #beccaHillburnTweet p.tweet {
  vertical-align: middle;
  display: inline-block;
}

#aboutKara p {
  text-align: justify;
  text-justify: inter-word;
}
.between {
  margin-top: -10px;
  margin-bottom: -10px;
}
.tiny {
  margin-top: -10px;
  margin-bottom: -10px;
}
.vertical-rule-left {
  border-left: 1px solid rgb(73,69,66);
}

/* Handle rules between words */
.rule {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.rule > strong {
    position: relative;
    display: inline-block;
}

.rule > strong:before,
.rule > strong:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #DB3B04;
}

.rule > strong:before {
    right: 100%;
    margin-right: 15px;
}

.rule > strong:after {
    left: 100%;
    margin-left: 15px;
}
@media(max-width:560px) {
  .rule .extra-space {
  }
}

#block-7karaheroimage p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
}

.hero-block hr {
    max-width: 50px;
    border-color: #9bd59b;
    border-width: 3px;
}

.bg-primary {
    background-color: #9bd59b;
}

#block-7karaheroimage {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#block-7karaheroimage .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

#block-7karaheroimage .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}
#block-7karaheroimage .header-content .header-content-inner hr {
    margin: 30px auto;
}

@media (min-width: 767px) {
  #block-monoset-page-title, #block-monoset-local-tasks, #block-monoset-search, #block-monoset-breadcrumbs, #block-monoset-main-menu, #block-monoset-tools, #block-monoset-account-menu, #block-monoset-footer {
     margin: 0 auto;
     width: 80%;
     padding: 0 1rem;
  }
}
@media(min-width:768px) {
    .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}
#block-projects-front .col-lg-4.col-sm-6 {
    overflow: hidden;
    padding: 0;
}
.bg-primary {
   background-color: #9BD59B;
}
footer .region-footer {
    width: 100%;
    background-color: #9BD59B;
}
#block-social-networks-footer-block {
    padding-bottom: 4em;
}
#block-credentials, #block-credentials-2
  & .text-muted {
    margin-bottom: 1em;
    text-align: left;
  }
  .text-muted:last-child {
      margin-bottom: 32px;
  }
}

body .content {
  padding-bottom: 0;
}
.region-front-one, body.node--type-book .region-content {
  background: url(/sites/default/files/webassets/Site-Background-V1.jpg) repeat-y;
}
.node--type-book [aria-labelledby="book-label-1"] ul {
    list-style-type: none;
}
.node--type-book [aria-labelledby="book-label-1"] li img {
    width: 100%;
    display: block;
}
.node--type-book [aria-labelledby="book-label-1"] .previous-pages img:hover, .node--type-book [aria-labelledby="book-label-1"] .previous-pages img:focus {
    -moz-transform: scale(1.2) skewY(-3deg);
    -webkit-transform: scale(1.2) skewY(-3deg);
    -o-transform: scale(1.2) skewY(-3deg);
    -ms-transform: scale(1.2) skewY(-3deg);
    transform: scale(1.2) skewY(-3deg);
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    transition: all .35s ease-out;
}
.node--type-book [aria-labelledby="book-label-1"] .next-pages img:hover, .node--type-book [aria-labelledby="book-label-1"] .next-pages img:focus {
    -moz-transform: scale(1.2) skewY(3deg);
    -webkit-transform: scale(1.2) skewY(3deg);
    -o-transform: scale(1.2) skewY(3deg);
    -ms-transform: scale(1.2) skewY(3deg);
    transform: scale(1.2) skewY(3deg);
    -webkit-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    transition: all .35s ease-out;
}
.node--type-book .node__content img {
    width: 100%;
}
.node--type-book .ink-drop-cafe-wide img {
    width: auto;
}
footer.node__meta {
    display: none;
}
.front .node--type-book > h2 {
  display: none;
}
.site-logo {
  height: 48px;
}
.ink-drop-cafe-wide {
  margin: 0 auto;
  text-align: center;
}
.ink-drop-cafe-wide .RotatorScript {
  display: block;
}
.ink-drop-cafe-tall-wrapper {
  display: none;
}
.ink-drop-cafe-wide-wrapper .RotatorScript a {
  &, & img {
    width: 100%;
    &:first-child {
      display: none;
    }
  }
}
@include breakpoint(lg) .ink-drop-cafe-tall-wrapper .RotatorScript {
  opacity: 0;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
@include breakpoint(lg) .ink-drop-cafe-wide-wrapper .RotatorScript a {
  width: auto;
  display: block;
}

.ink-drop-cafe-tall-wrapper .RotatorScript.sticky {
  opacity: 1;
}
.node__content .slick-dots {
  position: absolute;
  left: 0;
  height: 100%;
  top: 50%;
  transform: translateY(-33%);
}
.slick .slick-dots--thumbnail-grid li {
  display: block;
  border-radius: 10% 40% 10%;
}
.footer-main .region-footer {
  margin: 0 auto;
}

.slick--optionset--vertical .slick-dots {
  postiion: absolute;
  & li {
    width: 50px;
    height: 50px;
    margin: 0.5em 2em;
    & img {
      object-fit: cover;
      margin-top: -3px;
      margin-left: -3px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
  }
  @media(min-width:766px) {
    & li {
      width: 100px;
      height: 100px;
      & img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
      }
    }
  }
}
.slick-img {
  min-width: 100px;
  min-height: 100px;
  max-height: 200px;
  max-width: 200px;
  object-fit: contain;
}
.node--type-article article {
  background-color: $natlight;
  .title-content h2 {
    padding: 1em 0;
  }
}
.node--type-product {
  width: 100%;
  & .node__content {
    position: relative;
  }
  & article.contain {
    padding: 0;
  }
  & .block-color.product-details {
    background-color: $natbg;
    color: $natfg;
    & .col-lg-8 {
      background-color: $natlight;
      padding: 3em;
      margin-top: -4em;
    }
  }
  & .slide-container {
    position: relative;
    & .slide-blurred-overlay {
      transform-style: preserve-3d;
      transition: 1s;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      left: 40%;
      & .media--slick {
        background-position: -100% 0;
        background-repeat: repeat-x;
        height: 100%;
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
      }
    }
  }
  & img.media__element {
    width: 100%;
  }
  & .disable-description {
      &.product-description-wrapper {
          transform: rotateX( 90deg );
      }
      & .slide-blurred-overlay {
          opacity: 0;
      }
  }
  & .product-description-wrapper {
    display: none;
    background-color: $natlight;
    & .product-description {
      padding: 2.5%;
      z-index: 2;
      position: relative;
      & h2, & .price {
          font-family: BlondeScript-Regular;
      }
      & h2 {
          padding-right: 4rem;
      }
      & .price {
          font-size: 2em;
          color: $natdark;
      }
    }
    & .add-to-cart {
        margin-top: 1em;
    }
    & .dimensions {
        margin-top: 0.5em;
    }
  }
  & .product-container {
    height: 100%;
  }
  @media(min-width:766px) {
    & .product-description-wrapper {
      display: inline-block;
      transform-style: preserve-3d;
      transition: 1s;
      backface-visibility: hidden;
      width: 40%;
      background-color: rgba(255, 255, 255, 0.75);
      position: absolute;
      top: 0;
      right: 0;
    }
    & .product-body {
      overflow: hidden;
    }
  }
}
.slick .slick-dots--thumbnail-grid li:hover img, .slick .slick-dots--thumbnail-grid li.slick-active img {
    border-color: $natalt;
}

.lines-button {
    z-index: 3;
    padding: 2rem 1rem;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: .57143rem;
    display: inline-block;
    margin: 0 1em;
    border: none;
    background: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
    &:active {
        transition: 0;
    }
    &.close {
        -webkit-transform: scale3d(.8,.8,.8);
        transform: scale3d(.8,.8,.8);
    }
    @mixin line {
      display: inline-block;
      width: $closeButtonSize;
      height: $closeButtonSize/7;
      background: $natalt;
      border-radius: $closeButtonSize/14; 
      transition: .3s;
    }
    & .lines {
        @include line;
        position: relative;
        &:before, &:after {
          @include line;
          position: absolute;
          left:0;
          content: '';
          -webkit-transform-origin: $closeButtonSize/14 center;
                  transform-origin: $closeButtonSize/14 center;
        }
        &:before { 
          top: $closeButtonSize/4; 
        }
        &:after { 
          top: -$closeButtonSize/4; 
        }
    }
    &:hover .lines {
        &:before { 
          top: $closeButtonSize/3.5;
        }
        &:after { 
          top: -$closeButtonSize/3.5;
        }
    }
    &.x.close .lines {
        background: 0 0;
        &:before, &:after{
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          top:0;
          width: $closeButtonSize;
        }
        &:before{
          -webkit-transform: rotate3d(0,0,1,45deg); 
                  transform: rotate3d(0,0,1,45deg); 
        }
        &:after{
          -webkit-transform: rotate3d(0,0,1,-45deg); 
                  transform: rotate3d(0,0,1,-45deg); 
        }
    }
}
.product-overview {
  & .blazy--grid {
    padding: 1em;
    background: $natlight;
    & .grid__content {
      background: $natbg;
      -webkit-transition: all 0.6s ease; /* Safari and Chrome */
      -moz-transition: all 0.6s ease; /* Firefox */
      -ms-transition: all 0.6s ease; /* IE 9 */
      -o-transition: all 0.6s ease; /* Opera */
      transition: all 0.6s ease;
      &:hover {
        background: $natalt;
        color: $natlight;
        & .product-description {
          background: $natalt;
          color: $natlight;
          font-weight: bold;
        }
      }
      & .product-description {
        padding: 0.5em 1em 1em 1em;
        background: $natbg;
        color: $natdark;
      }
      & .views-field-uc-product-image {
        overflow: hidden;
        & img {
          width: 100%;
          height: auto;
          -webkit-transition: all 0.6s ease; /* Safari and Chrome */
          -moz-transition: all 0.6s ease; /* Firefox */
          -ms-transition: all 0.6s ease; /* IE 9 */
          -o-transition: all 0.6s ease; /* Opera */
          transition: all 0.6s ease;
          &:hover {
            -webkit-transform:scale(1.3); /* Safari and Chrome */
            -moz-transform:scale(1.3); /* Firefox */
            -ms-transform:scale(1.3); /* IE 9 */
            -o-transform:scale(1.3); /* Opera */
             transform:scale(1.3);
          }
        }
      }
    }
  }
}
.path-comic .content .views-element-container {
  background-color: $natlight;
}
.kara-archive {
  ul {
    list-style-type: none;
  }
  & > ul {
    margin-left: -3%;
  }
  .depth-3 a {
    font-size: 125%;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #2EC4B6 !important;
  }
  .views-field-field-page img {
    margin-bottom: 1.5em;
  }
  & > ul > li {
    vertical-align: top;
  }
  .views-field-field-page img {
    width: 100%;
    height: auto;
  }
}
@include breakpoint(md) {
  .kara-archive > ul {
    margin-left: -5%;
  }
  .kara-archive > ul > li {
    display: inline-block;
    width: 45%;
    min-height: 1000px;
    margin-left: 5%;
  }
}
@include breakpoint(lg) {
  .kara-archive > ul {
    margin-left: -3%;
  }
  .kara-archive > ul > li {
    display: inline-block;
    width: 30%;
    min-height: 1000px;
    margin-left: 3%;
    vertical-align: top;
  }
}
.light-bg {
  background-color: $natlight;
}
.block-views-block-blog-preview-blog-preview .views-field-nothing, .block-views-block-7-kara-preview-kara-preview .views-field-field-page {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.block-views-block-blog-preview-blog-preview .views-field-nothing .field-content > p {
  padding: 1em 0 0 0;
}
.block-views-block-blog-preview-blog-preview, .block-views-block-7-kara-preview-kara-preview, .block-views-block-youtube-preview-youtube-preview {
  .views-row {
    padding: 1em;
    background-color: #fff;
  }
}
.block-views-block-7-kara-preview-kara-preview h4 {
  text-align: center;
}
.views-field-field-youtube-video .field-content article > div, .youtube-video-scalable-wrapper {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
#uc-cart-view-form #edit-continue-shopping {
  margin-left: 0;
}
#uc-cart-view-form td, #uc-cart-view-form th {
  padding: 0.5em;
}
.uc-store-address-field .form-item label {
  text-align: left;
}
.path-cart {
  summary[role=button] {
    text-align: center;
    border-bottom: 1px dotted $natbg;
  }
  .uc-cart-view-form .contain > div {
    background-color: $natlight;
  }
  .page-content {
    .contain, .region-content {
      background-color: inherit;
    }
    background-color: $natbg;
  }
  details {
    background-color: $natlight;
    margin-top: 1em;
    padding: 1em;
  }
}
.path-user .content {
  background-color: $natlight;
  .contain > div {
    background-color: $natbg;
  }
}
.order-review-table .pane-title-row {
  background-color: $natlight;
  border: 0;
}
.order-review-table {
  border: 0;
}
.order-review-table .review-button-row {
  background-color: inherit;
  border: 0;
}
.visually-hidden [role="alert"] {
  display: none;
}
.views-field-field-media-image img {
  width: 100%;
  height: auto;
}
.blazy--field-media-image,
.media--bundle--image .media--blazy .media--image {
  width: fit-content;
  height: auto;
}

