/**
*
* Front Featured
*
**/

@use "utils/variables";
@use "utils/mixins";

.featured {
  background: variables.$white url(../images/featured-bg.jpg) no-repeat 50% 0;
  background-size: cover;
  @include mixins.breakpoint(md) {
    display: table;
    width: 100%;
    table-layout: fixed;
    min-height: 500px;
  }

  .featured-box {
    position: relative;
    padding: 2rem 1rem;
    width: 100%;
    border-bottom: 1px solid variables.$grey-600;
    &:last-child {
      border: none;
    }
    @include mixins.breakpoint(md) {
      display: table-cell;
      width: 50%;
      padding: 3rem;
      border-right: 1px solid variables.$grey-600;
      border-bottom: none;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background: rgba(variables.$black, 0.65);
      transition: all .3s;
    }
    &:hover:before {
      background: rgba(variables.$black, 0.75);
    }
  }
  h2 {
    @include mixins.font-size(34px);
    margin: 0 0 2rem 0;
    line-height: 1;
    color: variables.$white;
  }
  p {
    color: variables.$white;
    margin: 0 0 1rem 0;
  }
}
