/**
*
* Front Features
*
**/

@use "utils/variables";
@use "utils/mixins";

.features {
  background: variables.$white;
  border-top: 1px solid variables.$grey-200;
  border-bottom: 1px solid variables.$grey-200;
  padding: 3rem 0;
  @include mixins.breakpoint(md) {
    padding: 5rem 0;
  }

  h2 {
    text-align: center;
    @include mixins.font-size(40px);
    margin: 0 0 3rem 0;
    @include mixins.breakpoint(md) {
      @include mixins.font-size(50px);
      margin: 0 0 4rem 0;
    }
  }
  .feature-list li {
    list-style-type: none;
    vertical-align: top;
    text-align: center;
    margin: 0 0 1rem 0;
    @include mixins.font-size(18px);
    font-weight: variables.$light;
    @include mixins.breakpoint(md) {
      margin: 0 0 2rem 0;
      text-align: left;
      float: left;
      width: 33.3333%;
      @include mixins.font-size(17px);
    }

    &:hover .checkbox {
      fill: variables.$blue;
    }
    .checkbox {
      display: none;
      fill: variables.$grey-400;
      @include mixins.breakpoint(md) {
        margin: 0 5px 0 0;
        display: inline-block;
      }
    }
  }
}
