/**
*
* Front Posts
*
**/

@use "utils/variables";
@use "utils/mixins";

.posts {
  background: variables.$white;
  border-bottom: 1px solid variables.$grey-200;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  .views-row {
    transition: all .3s;
    padding: 2rem 1rem;
    border-bottom: 1px solid variables.$grey-200;
    @include mixins.breakpoint(md) {
      display: table-cell;
      width: 33.333333%;
      padding: 3rem;
      border-right: 1px solid variables.$grey-200;
      border-bottom: none;
    }

    &:last-child {
      border: none;
    }
    &:hover .date,
    &:hover p a,
    &:hover {
      background: variables.$blue;
    }
    &:hover .date,
    &:hover h2 a {
      color: variables.$white;
    }
  }
  .date {
    font-family: variables.$fontHighlight;
    font-style: italic;
    @include mixins.font-size(14px);
    margin: 0 0 1rem 0;
    color: variables.$black;
  }
  h2 {
    @include mixins.font-size(30px);
    margin: 0 0 2rem 0;
    line-height: 1;
    a {
      color: variables.$black;
    }
  }
  p a {
    color: variables.$grey-700;
  }
}
