/**
*
* Front News
*
**/

@use "utils/variables";
@use "utils/mixins";

.news {
  background: variables.$grey-50;
  border-bottom: 1px solid variables.$grey-200;
  text-align: center;
  padding: 3rem 0;
  @include mixins.breakpoint(md) {
    padding: 5rem 0;
  }

  h2 {
    @include mixins.font-size(40px);
    margin: 0 0 1rem 0;
    @include mixins.breakpoint(md) {
      @include mixins.font-size(50px);
      margin: 0 0 2rem 0;
    }
  }
  p {
    margin: 0 0 2rem 0;
    @include mixins.breakpoint(md) {
      padding: 0 10rem;
    }

    @include mixins.font-size(20px);
  }
  .drupal-logo path {
    fill: variables.$grey-400;
    transition: all .3s;
  }
  .contain:hover .drupal-logo path {
    fill: variables.$blue;
  }
}
